
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



*{
   font-family: "poppins",sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}



body{
    /* background-color: #1f242d; */
    overflow-x: hidden;
    color: var(--color4);
    background-color: #081829;
}



:root{
    --color1:#4ecdc4;
    --color2:#010101;
    --color3:#4ECDC4;
    --color4:#fff;
    --color5: #A3E6DE;
    --color6:#349090;
    --color7:#4EDCC4;
    --color8:#ee2244;
    --color9:#ffedf6;
    --color10:#333333;
    --color11:#fed2d1;
    --colo12:#195391;
}
/* 

header{
    padding: 20px;
    background-color: #1f242d;
    border-bottom: 1px solid var(--color11);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}


header .logo{
    color: var(--color4);    
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    margin-left: 30px;
    font-size: 2rem;
}

nav input{
    margin-left: -50%;
    padding: 0.32rem 20px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    outline: none;
    border: none;
    background-color: var(--color4);
    font-weight: 500;
}

nav .icon{
   background-color: var(--color4);
   padding: 0.28rem 10px;
   position: relative;
   color: var(--color6);
   left: -5px;
   top: 1px;
   border-top-right-radius: 13px;
   border-bottom-right-radius: 13px;
}


nav h2{
    display: inline;
}

nav .card{
    position: relative;
    left: 55px;
    color: var(--color4);
}

nav .user{
    position: relative;
    left: 20px;
    color: var(--color4);
} */



/* Extra small devices (phones, 600px and down) */
/* @media (width < 750px){ */
    header{
        position: relative;
        display: block;
        margin-top: 25px;
        background-color: transparent;
        border-bottom: none;

    }
    nav h2{
        margin-top: 30px;
        position: relative;
        top: 90px;
        font-size:2.4rem;
    }

    nav input{
        position: relative;
        left: 65%;
        background-color: red;
    }
    nav a.icon{
        position: relative;
        left: 63%;
        padding: 0.25rem 10px;
    }
/* } */


nav{
    box-shadow: 0 0 10px var(--color2);
    background-color: var(--color4);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;

}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav li{
    height: 65px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color2);
    font-weight: 500;
}

nav .icon{
    font-size: 2.5rem;
    color: var(--color2);
}

nav li:first-child{
    margin-right: auto;
}

nav li:first-child:hover{
    background-color: transparent;
}


.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #6a6a6a;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px #0000001a;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
.sidebar li{
    width: 100%
}

@media (max-width:800px) {
      .hiedonmobile{
        display: none;
      }
}

.menu-button{
    display: none;
}

@media (max-width:800px) {
    .sidebar{
        width: 100%;
    }
    .menu-button{
        display: block;
    }
}


/* SECTION */
section{
    padding: 10rem 0 4rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section img{
    width: 300px;
    border: var(--color11) 1px solid ;
    border-radius: 50%;
    background: #081829;
    animation: border-glow 1.5s infinite alternate;
 }


 @keyframes  border-glow {
    0%{
        box-shadow:0 0 10px #4ecdc4,0 0 20px #349090;
    }
    100%{
        box-shadow:0 0 30px #A3E6DE,0 0 60px #4ECDC4 ;
    }
}  

section img:hover{
    cursor: pointer;
    animation: img-hover 1.5s infinite alternate;
}
@keyframes  img-hover {
    0%{
        box-shadow:0 0 20px #4ecdc4,0 0 25px #349090;
    }
    100%{
        box-shadow:0 0 35px #A3E6DE,0 0 70px #4ECDC4 ;
    }
}


.content-section h1{
    font-size: 2.8rem;
    color: var(--color4);
    font-weight: 800;
}

.content-section h1 font{
    background-color: var(--color6);
    padding: 0px 5px;
}

.content-section p{
    margin-top: 20px;
    inline-size: 450px;
}
.content-section button{
    margin-top: 15px;
}


section button{
    padding: 0.4rem 30px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid var(--color11);
    transition: 0.3s ease;
    color: var(--color4);
    font-size: 1.1rem;
    background: transparent;
}

section button:hover{
    background-color: var(--color6);
    cursor: pointer;
}


/* responsive section */
@media screen and (min-width:300px) and (max-width:480px){
     section{
          flex-direction: column;
     }
     section img{
        width: 250px;
    }
    .content-section{
        text-align: center;
    }
    .content-section h1{
        font-size: 1.9rem;
    }
    .content-section p{
        /* margin-top: 60%; */
        inline-size: 280px;
        /* margin-left: 20%; */
    }
    /* .content-section button{
       /* position: relative;
       top: -110px; */
    /* } */
}

@media screen and (min-width:481px) and (max-width:600px){
    section{
        flex-direction: column;
   }
   section img{
      width: 250px;
  }
  .content-section{
      text-align: center;
  }
  .content-section h1{
      font-size: 1.9rem;
  }
  .content-section p{
      inline-size: 280px;
  }
}
@media screen and (min-width:601px) and (max-width:767px){
    section{
        flex-direction: column;
   }
   section img{
      width: 255px;
  }
  .content-section{
      text-align: center;
  }
  .content-section h1{
      font-size: 2rem;
  }
  .content-section p{
      inline-size: 280px;
  }
}

@media screen and (min-width:767px) and (max-width:1025px){
   section{
    padding: 12rem 0 3rem 0;
   }
    section img{
      width: 280px;
  }
  .content-section{
      text-align: center;
  }
  .content-section h1{
      font-size: 2.5rem;
  }
  .content-section p{
      inline-size: 350px;
  }
}

@media screen and (min-width:1300px) and (max-width:1440px){
    section{
     padding: 12rem 0 3rem 0;
    }
     section img{
       width: 310px;
   }
   .content-section h1{
       font-size: 2.9rem;
   }
   .content-section p{
       font-size: 1.1rem;
   }
 }
 @media screen and (min-width:1441px) and (max-width:1700px){
    section{
     padding: 12rem 0 3rem 0;
    }
     section img{
       width: 380px;
   }
   .content-section h1{
       font-size: 3rem;
   }
   .content-section p{
       font-size: 1.3rem;
       inline-size: 600px;
   }
 }


/* 3types  */

.div-types{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9%;
}

.types{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--color11);
    padding: 0.4rem 30px;
    margin-left: 15px;
}

.types:hover,
.types.active{
    background-color: #195391;
}

.types img{
    width: 150px;
}


.types .btn{
    padding: 0.2rem 12px;
    margin-top: 13px;
    background-color: transparent;
    border: 1px solid var(--color11);
    color:var(--color4);
    transition: 0.3s ease;
}

.types .btn:hover{
   transform: translateY(-5px);
   cursor: pointer;
}



/* RESPONSIVE TYPES */
@media screen and (min-width:300px) and (max-width:767px){
    .div-types{
        margin-top: 1%;
        flex-direction: column;
    }
    .types{
        flex-direction: column-reverse;
        margin-top: 15px;
        border: 1px solid var(--color11);
    }
    
}

@media screen and (min-width:767px) and (max-width:1025px){
    .div-types{
        margin-top: 1%;
        flex-wrap: wrap;
    }
    .types{
        flex-direction: column-reverse;
        margin-left: 20px;
        border: 1px solid var(--color11);
    }
    
}

@media screen and (min-width:1300px) and (max-width:1441px){
    .types img{
        width: 170px;
    }

    .types .btn{
        padding: 0.3rem 12px;
        margin-top: 13px;
        background-color: transparent;
        border: 1px solid var(--color11);
        color:var(--color4);
        transition: 0.3s ease;
    }
    
    
    
}

@media screen and (min-width:1441px) and (max-width:1700px){
    .types img{
        width: 190px;
    }
    .types .btn{
        padding: 0.3rem 12px;
        margin-top: 13px;
        background-color: transparent;
        border: 1px solid var(--color11);
        color:var(--color4);
        transition: 0.3s ease;
    }
    
    
    
}



/* TYPES PRODUCTS */

.product{

    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}


.name-product{
    border: 1px solid var(--color11);
    margin-top: 25px;
    width: 35vh;
    height: 50vh; 
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    /* animation: borders 1.5s infinite alternate; */
}

.name-product:hover{
    border: 1px solid var(--colo12);
}

.content-products{
    text-align: center;
}

.name-product img{
    width: 190px;
    transition: 0.3s ease;
}

.name-product img:hover{
    transform: translateY(-15px);
}

.name-product h2{
    font-size: 1.2rem;
}

.name-product h3{
    font-size: 1rem;
    font-weight: 400;
}

.name-product h5{
    font-size: 1.4rem;
    font-weight: 400;
}

@media screen and (min-width:300px) and (max-width:320px){
    .product{
        margin-top: 10%;
        flex-direction: column;
    }

    .name-product{
        width: 40vh;
        height: 55vh;
        cursor: pointer;
    }
    .name-product img{
        width: 170px;
        transition: 0.3s ease;
    }
    
    
}

@media screen and (min-width:321px) and (max-width:380px){
    .product{
        margin-top: 10%;
        flex-direction: column;
    }

    .name-product{
        width: 30vh;
        height: 44vh;
        cursor: pointer;
        background-color: #ee2244;
    }

    .name-product img{
        width: 175px;
        margin-top: 20px;
        transition: 0.3s ease;
    }
    
    
}




/* MECKUP TYPES */

.makeup-3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Mackup{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--colo12);
    border-radius: 10px;
    width: 80vh;
    margin-top: 5%;
    color: var(--color2);
    transition: 0.3s ease;
}

.Mackup:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 0 10px var(--color4);
}

.Mackup img{
    width: 200px;
}

.Mackup h2{
    width: 300px;
}

.Mackup h3{
    inline-size: 500px;
}

.Mackup button{
    inline-size: 90px;
    margin-top: 10px;
    background: transparent;
    border: 1px solid #081829;
    color: var(--color2);
    font-weight: 600;
    cursor: pointer;
} 

.makeup1{
    background-color: var(--color6);
}
.makeup2{
    background-color: var(--color11);
}

/* Extra small devices (phones, 600px and down) */
 
@media only screen and (max-width: 600px){
    .Mackup{
        position: relative;
        top: 35px;
        left: -4px;
        border-radius: 10px;
        padding: 0.0rem 10rem;
        width: 40vh;
        height: 25vh;
        color: var(--color2);
    }

    .Mackup h2{
        font-size: 1.5rem;
        position: relative;
        top: -170px;
        left: -125px;
    }

    .Mackup img{
        width: 160px;
        margin-top: 20px;
    }

    .Mackup h3{
       margin-left: 40px;
       margin-top: 35px;
    }

    .Mackup button{
        margin-left: 45px;
        margin-top: 5px;
        padding: 0.3rem 10px;
    }

    .Mackup1{
        margin-top:20%;
        position: relative;
        left: -9%;
        border-radius: 10px;
        padding: 0.0rem 10rem;
        width: 40vh;
        height: 25vh;
        color: var(--color2);
        background-color: var(--color6);
    }

    .Mackup1 h2{
        margin-left: 90px;
        margin-top: -50px;
        font-size: 1.5rem;
    }

    .Mackup1 h3{
        margin-top: 20px;
        margin-left: 65px;
    }

    .Mackup1 img{
        width: 160px;
        margin-left: -75px;
    }

    .Mackup1 button{
        margin-top: 25px;
        margin-left: -85px;
        padding: 0.3rem 10px;

    }


    .Mackup2{
        margin-top: 10%;
        padding: 0.0rem 10rem;
        width: 40vh;
        height: 25vh;
    }

    .Mackup2 h2{
        margin-left: 100px;
        margin-top: -60px;
    }

    .Mackup2 img{
        width: 145px;
        margin-left: -85px;
        margin-top: 20px;
    }

    .Mackup2 h3{
        margin-top: 30px;
        margin-left: 80px;
    }

    .Mackup2 button{
        margin-top: 25px;
        margin-left: -85px;
        padding: 0.3rem 10px;
    }

}


/* popular-product */

.H1{
    margin-top: 5%;
    text-align: center;
}

.popular-product{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.Popular-child{
    margin-top: 30px;
    border: 1px solid var(--color11);
    border-radius: 12px;
    height: 35vh;
    width: 45vh;
    padding: 0.1rem 10px;
    display: flex;
    align-items: center;
}

.Popular-child img{
    width: 110px;
    transition: 0.3s ease-in;
}

.Popular-child img:hover{
    transform: translateY(-12px);
    cursor: pointer;
}

.Popular-child h2{
    inline-size: 150px;
    font-weight: 350;
}

.Popular-child h3 font{
    background-color: var(--colo12);
    color: var(--color4);
}

.Popular-child h3{
    inline-size: 400px;
}

.Popular-child h5{
    font-size: 1.4rem;
    font-weight: 300;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .popular-product{
        display: block;
        margin-top: 5%;
    }

    .Popular-child{
        border: 1px solid var(--color11);
        border-radius: 12px;
        height: 45vh;
        width: 30vh;
        padding: 0.1rem 10;
        margin-left: 85px;
    }

    .Popular-child img{
        position: relative;
        left: 45px;
        top:20px;
        width: 120px;

    }

    .Popular-child h2{
        position: relative;
        left: 25px;
        top:10px;

    }

    .Popular-child h3{
        position: relative;
        top: 15px;
        left: 55px;
    }

    .Popular-child h5{
        position: relative;
        left: 85px;
        top: 35px;
    }

    .content-popular{
        border: none;
         width: 250vh;
         position: relative;
         top: 25px;
     }
     
} 



/* collection */

.collection-home{
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection{
    margin-top: 7%;
    background-color: var(--color11);
    width: 90vh;
    height: 30vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.collection img{
    width: 150px;
    background-color: var( --color11);
    border-radius: 50%;
    border: 1px solid var(--color11);
    animation: hu__hu__ infinite 2s ease-in-out
}
.content-collection{
    margin-left: 30px;
}

.collection h2{
     color: var(--color2);
}

.collection p{
    color: var(--color2);
}

.collection button{
    background-color: var(--colo12);
    border: none;
    margin-top: 20px;
    font-weight: 500;
    font-size: 1rem;
    transition: 0.3s ease;
    padding: 5px 5px 5px 5px;
    color: var(--color4);
    border: 1px solid var(--color11);
}

.collection button:hover{
    transform: translateY(-5px);
    cursor: pointer;
    border: 1px solid var(--color2);
    border-radius: 10px;
}



/* FOOTER AND RIGHT MEDIA */
.copy{
    margin-top: 4%;
    margin-bottom: 3%;
}

.copy .media{
    margin-top: 7%;
}

.copy .media a{
    font-size: 2.2rem;
    margin-left: 25px;
    color: var(--color4);
    margin-top: 10px;
    transition: 0.3s ease;
    padding: 5px 5px 0 5px;
    background-color: transparent;
    border-radius: 10px;
}

.copy .media a:hover{
    cursor: pointer;
    background-color: var(--color11);
    color: var(--color2);
}