
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



*{
   font-family: "poppins",sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}



body{
    /* background-color: #1f242d; */
    overflow-x: hidden;
    color: var(--color4);
    background-color: #061525;

}



:root{
    --color1:#4ecdc4;
    --color2:#010101;
    --color3:#4ECDC4;
    --color4:#fff;
    --color5: #A3E6DE;
    --color6:#349090;
    --color7:#4EDCC4;
    --color8:#ee2244;
    --color9:#ffedf6;
    --color10:#333333;
    --color11:#fed2d1;
    --colo12:#195391;
}
/* 

header{
    padding: 20px;
    background-color: #1f242d;
    border-bottom: 1px solid var(--color11);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}


header .logo{
    color: var(--color4);    
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    margin-left: 30px;
    font-size: 2rem;
}

nav input{
    margin-left: -50%;
    padding: 0.32rem 20px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    outline: none;
    border: none;
    background-color: var(--color4);
    font-weight: 500;
}

nav .icon{
   background-color: var(--color4);
   padding: 0.28rem 10px;
   position: relative;
   color: var(--color6);
   left: -5px;
   top: 1px;
   border-top-right-radius: 13px;
   border-bottom-right-radius: 13px;
}


nav h2{
    display: inline;
}

nav .card{
    position: relative;
    left: 55px;
    color: var(--color4);
}

nav .user{
    position: relative;
    left: 20px;
    color: var(--color4);
} */



/* Extra small devices (phones, 600px and down) */
/* @media (width < 750px){ */
    header{
        position: relative;
        display: block;
        margin-top: 25px;
        background-color: transparent;
        border-bottom: none;

    }
    nav h2{
        margin-top: 30px;
        position: relative;
        top: 90px;
        font-size:2.4rem;
    }

    nav input{
        position: relative;
        left: 65%;
        background-color: red;
    }
    nav a.icon{
        position: relative;
        left: 63%;
        padding: 0.25rem 10px;
    }
/* } */



nav{
    box-shadow: 0 0 20px var(--white);
    background-color:var(--color4);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav li{
    height: 65px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color2);
    font-weight: 500;
}

nav .icon{
    font-size: 3rem;
    color: var(--color3);
}

nav li:first-child{
    margin-right: auto;
}

nav li:first-child:hover{
    background-color: transparent;
}


.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #1b756b94;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px #0000001a;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.sidebar li{
    width: 100%
}

@media (max-width:800px) {
      .hiedonmobile{
        display: none;
      }
}

.menu-button{
    display: none;
}

@media (max-width:800px) {
    .sidebar{
        width: 100%;
    }
    .menu-button{
        display: block;
    }
} 


/* SECTION */
section{
    padding: 10rem 0 4rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section img{
    width: 300px;
    border: var(--color11) 1px solid ;
    border-radius: 50%;
    background: #081829;
    animation: border-glow 1.5s infinite alternate;
 }


 @keyframes  border-glow {
    0%{
        box-shadow:0 0 10px #4ecdc4,0 0 20px #349090;
    }
    100%{
        box-shadow:0 0 30px #A3E6DE,0 0 60px #4ECDC4 ;
    }
}  

section img:hover{
    cursor: pointer;
    animation: img-hover 1.5s infinite alternate;
}
@keyframes  img-hover {
    0%{
        box-shadow:0 0 20px #4ecdc4,0 0 25px #349090;
    }
    100%{
        box-shadow:0 0 35px #A3E6DE,0 0 70px #4ECDC4 ;
    }
}


.content-section h1{
    font-size: 2.8rem;
    color: var(--color4);
    font-weight: 800;
}

.content-section h1 font{
    background-color: var(--color6);
    padding: 0px 5px;
}

.content-section p{
    margin-top: 20px;
    inline-size: 450px;
}
.content-section button{
    margin-top: 15px;
}


section button{
    padding: 0.4rem 30px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid var(--color11);
    transition: 0.3s ease;
    color: var(--color4);
    font-size: 1.1rem;
    background: transparent;
}

section button:hover{
    background-color: var(--color6);
    cursor: pointer;
}


/* responsive section */
@media screen and (min-width:300px) and (max-width:480px){
     section{
          flex-direction: column;
     }
     section img{
        width: 250px;
    }
    .content-section{
        text-align: center;
    }
    .content-section h1{
        font-size: 1.9rem;
    }
    .content-section p{
        /* margin-top: 60%; */
        inline-size: 280px;
        /* margin-left: 20%; */
    }
    /* .content-section button{
       /* position: relative;
       top: -110px; */
    /* } */
}

@media screen and (min-width:481px) and (max-width:600px){
    section{
        flex-direction: column;
   }
   section img{
      width: 250px;
  }
  .content-section{
      text-align: center;
  }
  .content-section h1{
      font-size: 1.9rem;
  }
  .content-section p{
      inline-size: 280px;
  }
}
@media screen and (min-width:601px) and (max-width:767px){
    section{
        flex-direction: column;
   }
   section img{
      width: 255px;
  }
  .content-section{
      text-align: center;
  }
  .content-section h1{
      font-size: 2rem;
  }
  .content-section p{
      inline-size: 280px;
  }
}

@media screen and (min-width:767px) and (max-width:1025px){
   section{
    padding: 12rem 0 3rem 0;
   }
    section img{
      width: 280px;
  }
  .content-section{
      text-align: center;
  }
  .content-section h1{
      font-size: 2.5rem;
  }
  .content-section p{
      inline-size: 350px;
  }
}

@media screen and (min-width:1300px) and (max-width:1440px){
    section{
     padding: 12rem 0 3rem 0;
    }
     section img{
       width: 310px;
   }
   .content-section h1{
       font-size: 2.9rem;
   }
   .content-section p{
       font-size: 1.1rem;
   }
 }
 @media screen and (min-width:1441px) and (max-width:1700px){
    section{
     padding: 12rem 0 3rem 0;
    }
     section img{
       width: 380px;
   }
   .content-section h1{
       font-size: 3rem;
   }
   .content-section p{
       font-size: 1.3rem;
       inline-size: 600px;
   }
 }


/* 3types  */

.div-types{
    margin-top: 5%;
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(320px,1.5rem));
    gap: 30px;
    justify-content: center; 
    margin-top: 9%;
}

.types{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--color11);
    padding: 10px;
    color: var(--color2);

}

.active1{
    background-color: var(--color11);
}
.active2{
    background-color: var(--color6);
}
.active3{
    background-color: var(--colo12);
}

.types img{
    width: 150px;
}


.types .btn{
    padding: 0.2rem 12px;
    margin-top: 13px;
    background-color: transparent;
    border: 1px solid var(--color2);
    color:var(--color2);
    transition: 0.3s ease;
}

.types .btn:hover{
   transform: translateY(-5px);
   cursor: pointer;
}



/* RESPONSIVE TYPES */

@media screen  and (min-width:1300px) and (max-width:1700px){
    .types img{
        width: 180px;
    }
    
    
}


/* TYPES PRODUCTS */
.product{
    margin-top: 4%;
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(250px,1.5rem));
    gap: 30px;
    justify-content: center; 
}


.name-product{
    border: 1px solid var(--color11);
    margin-top: 25px;
    margin-left: 10px;
    padding: 0.2rem 12px;
    cursor: pointer;
    border-radius: 10px;  
    padding: 10px;  
    text-align: center; 
}

.name-product:hover{
    border: 1px solid var(--colo12);
}

.name-product img{
    width: 190px;
    transition: 0.3s ease;
}

.name-product img:hover{
    transform: translateY(-15px);
}

.name-product h2{
    font-size: 1.2rem;
}

.name-product h3{
    font-size: 1rem;
    font-weight: 400;
}

.name-product h5{
    font-size: 1.4rem;
    font-weight: 400;
    color: #ff9d00;
}

@media screen and (min-width:1300px) and (max-width:1440px){
    .name-product img{
        width: 200px;
    }

    .name-product h2{
        font-size: 1.3rem;
    }
    
    .name-product h3{
        font-size: 1.1rem;
        font-weight: 400;
    }
    
    .name-product h5{
        font-size: 1.5rem;
        font-weight: 400;
    }
       
    
    
}

@media screen and (min-width:1441px) and (max-width:1700px){
    .name-product img{
        width: 210px;
    }

    .name-product h2{
        font-size: 1.4rem;
    }
    
    .name-product h3{
        font-size: 1.2rem;
        font-weight: 400;
    }
    
    .name-product h5{
        font-size: 1.5rem;
        font-weight: 400;
    }
       
    
    
}
 



/* MECKUP TYPES */

.makeup-3{
    margin-top: 5%;
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1.5rem));
    gap: 30px;
    justify-content: center; 
}

.Mackup{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--colo12);
    border: 1px solid var(--color11);
    padding: 10px;
    margin-top: 4%;
    color: var(--color2);
    transition: 0.3s ease;
    text-align: center;
}

.Mackup:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 0 10px var(--color4);
}

.Mackup img{
    width: 150px;
}

.Mackup button{
    margin-top: 10px;
    padding: 5px;
    background: transparent;
    border: 1px solid #081829;
    color: var(--color2);
    font-weight: 600;
    cursor: pointer;
} 

.makeup1{
    background-color: var(--color6);
}
.makeup2{
    background-color: var(--color11);
}


/* Extra small devices (phones, 600px and down) */
 
@media screen and (min-width:1300px) and (max-width:1441px){
    .Mackup img{
        width: 175px;
    }
    
    
}

@media screen and (min-width:1441px) and (max-width:1700px){
   
    .Mackup img{
        width: 185px;
    }
    
    
}




/* popular-product */

.H1{
    margin-top: 5%;
    text-align: center;
}

.popular-product{
    margin-top: 4%;
   display: grid;
   grid-template-columns:repeat(auto-fill,minmax(250px,1.5rem));
   gap: 30px;
   justify-content: center; 
}
.Popular-child{
    border: 1px solid var(--color11);
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Popular-child img{
    margin-top: 15px;
    width: 110px;
    transition: 0.3s ease-in;
}

.Popular-child img:hover{
    transform: translateY(-12px);
    cursor: pointer;
}

.Popular-child h2{
    font-weight: 350;
    inline-size: 200px;

}

.Popular-child h3 font{
    color: var(--color4);
    font-weight: 300;
}


.Popular-child h5{
    font-size: 1.4rem;
    font-weight: 300;
    color: #ff9d00;
}


/* Extra small devices (phones, 600px and down) */

@media screen and (min-width:1300px) and (max-width:1440px) {
    .Popular-child img{
        width: 130px;
    }
    .Popular-child h5{
        font-size: 1.5rem;
        font-weight: 300;
    }
    .Popular-child h2{
       font-size: 1.2rem;
    
    }
    
}

@media screen and (min-width:1441px) and (max-width:1700px) {
    .Popular-child img{
        width: 150px;
    }
    .Popular-child h5{
        font-size: 1.6rem;
        font-weight: 300;
    }
    .Popular-child h2{
       font-size: 1.4rem;
    
    }
    
}

